html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: table;
    position: relative;
    width: 100%;
    background: url(/img/fondNappe.jpg);/* no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding-bottom: 5em;
}


.container {
    width: 920px;
    height: auto;
    background-color: white;
    border: black;
}
.col-md-4 {
    /*border: 1px solid;tour de cadre*/
    height: 460px;

}
.card-img-top {
    padding-top: 5px;
    
    padding-bottom: 5px;
}
.card mb-4 box-shadow {
    border: 1px solid;
}
*{-moz-box-sizing: border-box; box-sizing: border-box;}
.empty-cart {
    
    width: 800px;
    height: 60px;
    background-color: white;
    border: solid black;
    text-align: center;
}
.thumbnail pull-left {
    width: 150px;
    height: 200px;
}