*, *:before, *:after {
    box-sizing: border-box;
    
  }

  html {
    font-size: 35%;
    size: 100px;
  }

  body {
    position: fixed;
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 70vh;
  }

  .footer {
    display: table-row;
    height: 24%;/*hauteur bandeau*/
    display: flex;
    flex-flow: row wrap;
    padding: 10px 10px 5px 10px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    position: absolute; bottom: 0;

  }

  .footer > * {
    flex:  90%;
  }

  .footer__addr {
    margin-right: 1.25em;

  }

  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 15px;


  }

  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }

  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }

  .footer address {
    font-style: normal;
    color: #999;
  }

  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0,07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 2rem;
    padding: 0 1.3em;
    padding-bottom: 20px;
  }

  .footer ul {
    list-style: none;
    padding-left: 0;
  }

  .footer li {
    line-height: 2em;
  }

  .footer a {
    text-decoration: none;
  }

  .footer__nav {
    display: flex;
      flex-flow: row wrap;
      
  }

  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
    padding-bottom: 15px;
  }

  .nav__ul a {
    color: #999;
  }

  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }

  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
    padding-bottom: 20px;
  }

  .legal__links {
    float: right;
    display: flex;
    align-items: center;
    padding-bottom: 170px;
    

  }

  .heart {
    color: #2f2f2f;
  }

  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }

  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }

    .nav__item--extra {
      flex-grow: 2;
    }

    .footer__addr {
      flex: 1 0px;
    }

    .footer__nav {
      flex: 2 0px;
    }
  }
