/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: grey;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /* style right-nav*/
  .right-nav {
    float: right;
  }
  #menu-accordeon {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      width: 100%;
  }
  #menu-accordeon ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
  }
  #menu-accordeon li {
      margin-bottom: 2px;
      box-shadow: 3px 3px 3px #999;
  }
  #menu-accordeon li li {
      max-height: 0;
      overflow: hidden;
      transition: all .5s;
      border-radius: 0;
      box-shadow: none;
      border: none;
      margin-bottom: 0;
  }
  #menu-accordeon a {
      display: block;
      text-decoration: none;
      padding: 8px 0;
      /*apparence menu*/
  }
  #menu-accordeon ul li a,
  #menu-accordeon li:hover li a {
    font-size: 1em;
  }
  #menu-accordeon li:hover {
      background:grey;
  }
  #menu-accordeon li li:hover {
      background: grey;
  }
  #menu-accordeon ul li:last-child {
      border-radius: 0 0 6px 6px;
      border: none;
  }
#menu-accordeon li:hover li {
    max-height: 15em;/*affichage des sous-menus*/
}
