

body{
    clear: both;
    position: relative;
    color:white;
    background-color:white;
    background: url(/img/home-food.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100%;

}

body, html {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    

}
.write {
    color: yellow;
    font: large;
    font-family: cursive;
    font-size: 150px;
}
p.taille50px {
    
    font-size: 50px;
}
.little-write {
    color: yellow;
    font-family: cursive;
    font-size: 50px;
    float: right;
    padding-top: 80px;
}