body{

    color:rgb(56, 21, 21);
    background-color:rgb(97, 45, 45);
    /* background: url(/img/home-food.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

body, html {
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    width: 100%;
    

}
.write {
    color: yellow;
    font: large;
    font-family: cursive;
    font-size: 150px;
}
p.taille50px {
    
    font-size: 50px;
}
.little-write {
    color: yellow;
    font-family: cursive;
    font-size: 50px;
    float: right;
}